<%- include('../partials/yelp/header'); -%>

<div class="container">
<div class="jumbotron">
<h1 class="display-4">Welcome to Quarantine Meals</h1>
    <p class="lead">Learn and share easy but yummy recipes from people who has to stay home.</p>
    <a class="btn btn-primary btn-lg" href="/campgrounds/new" role="button">Click to Create a New Recipe</a>
</div>
<div class = "row text-center" style="display: flex; flex-wrap: wrap">
    <% for (let i = 0; i< campGrounds.length; i++) {%>
<div class="col-md-3 col-sm-6">
        <div class="card" style="">
            <img src="<%=campGrounds[i]['image']%>">


            <div class="card-body">
                <p class="card-text"><%=campGrounds[i]['name']%></p>
            </div>

            <a href="/campgrounds/<%=campGrounds[i]['_id']%>" class="btn btn-primary">more info</a>

        </div>
</div>

<%}%>
</div>


</div>
<%- include('../partials/yelp/footer'); -%>