<%- include('../partials/yelp/header'); -%>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">YelpCamp</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
            <div id="map"></div>
        </div>
        <div class="col-md-9">
            <div class="card mb-3">
                <img src=<%=result.image%> class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><%=result.name%></h5>

                    <p><%=result.description%></p>
                    <p>$<%=result.price%> /night</p>

                    <p class="card-text"><small class="text-muted">updated by <a href="/users/<%=result.author.id%>"><em><%=result.author.username%></em> </a>on <%=result.date%></small></p>
                    <%if((currentUser!=undefined&&result.author.id.equals(currentUser._id)) || currentUser && currentUser.isAdmin){%>
                    <a href="/campgrounds/<%=result._id%>/edit" class="btn btn-warning">Edit</a>
                    <form style="display: inline" action="/campgrounds/<%=result._id%>?_method=DELETE" method="post">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                    <%}%>
                </div>
            </div>
            <div class="ui comments">
                <h3 class="ui dividing header">Comments</h3>
                <% result.comments.forEach(function(e){ %>

                <div class="comment">
                    <a class="avatar">
                        <img src=<%=e.author.avatar%> >
                    </a>
                    <div class="content">
                        <a class="author" ><%=e.author.username%></a>
                        <div class="metadata">
                            <span class="date"><%=e.date%></span>
                        </div>
                        <div class="text">

                            <p><%=e.text%></p>
                        </div>
                        <%if ((currentUser!=undefined&&result.author.id.equals(currentUser._id)) || currentUser && currentUser.isAdmin){%>
                        <a href="/campgrounds/<%=result._id%>/comments/<%=e._id%>/edit" class="btn btn-xs btn-warning">Edit</a>
                        <form style="display: inline" action="/campgrounds/<%=result._id%>/comments/<%=e._id%>/?_method=DELETE" method="post">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                        <%}%>
                    </div>
                </div>
                <%})%>

                <a href="/campgrounds/<%=result._id%>/comments/new" class="btn btn-primary">new comment</a>


            </div>
        </div>

    </div>
</div>




<script>
    function initMap() {
        const lat = <%= result.lat %>;
        const lng = <%= result.lng %>;
        const center = {lat: lat, lng: lng };
        const map = new google.maps.Map(document.getElementById('map'), {
            zoom: 8,
            center: center,
            scrollwheel: false
        });
        const contentString = `
      <strong><%= result.name %><br />
      <%= result.location %></strong>
      <p><%= result.description %></p>
    `
        const infowindow = new google.maps.InfoWindow({
            content: contentString
        });
        const marker = new google.maps.Marker({
            position: center,
            map: map
        });
        marker.addListener('click', function() {
            infowindow.open(map, marker);
        });
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlWDRn1rD1N1Fy3dK9HYF9vMOqr7_T2u8&callback=initMap"></script>


<%- include('../partials/yelp/footer'); -%>